.search-page {
    font-family: 'MyFont';
    padding: 40px 20px;
    text-align: center;
  }
  
  .search-page h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .search-page p {
    font-size: 18px;
    color: #555;
  }
  